<h1>account</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">
                <div class="col-md-5 ">
                    <label class="control-label col-md-4 pd-left-0">角色</label>
                    <div class="col-md-8">
                        <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.occupation">
                        </select>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <label class="control-label col-md-4 pd-left-0">账户名</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.uid" numberic-input="">
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-5 col-md-offset-6">
                    <div class="col-md-2 pull-right">
                        <input type="button" value="搜索" class="btn btn-primary btn-md form-group" ng-click="search(startAt,endAt,params.type,params.status,page)">
                    </div>
                    <div class="col-md-2 pull-right">
                        <input type="button" value="清空" class="btn btn-danger btn-md form-group" ng-click="search('','','','')">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Article -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>帖子列表</strong>
        <span>帖子总数：</span>
        <span>{{forum.total}}</span>
        <div class="btn-group pull-right">
            <button class="btn btn-success btn-xs">
                +新增文章
            </button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table text-center">
            <thead>
                <tr class="table-header">
                    <th>ID</th>
                    <th>账号名</th>
                    <th>角色</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in articleLists">
                    <td>{{$index * i + 1}}</td>
                    <td>{{x.accountname}}</td>
                    <td>
                        {{x.role}}
                    </td>
                    <td>{{x.creatAt}}</td>
                    <td>{{x.auther}}</td>
                    <td>{{x.statue}}</td>
                    <td>
                        <button class="btn btn-succsee" ng-click="check()">编辑</button>
                        <button class="btn btn-danger" ng-click="check()">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 分页自定义指令 -->