<h1>modifyPWD</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>修改密码</strong>
    </div>
    <div class="panel-body">
        <form name="pwdForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">旧密码</label>
                    <div class="col-md-8">
                        <!-- <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick"> -->
                        <input  type="password" 
                                name="pwd1"
                                class="form-control ng-pristine ng-untouched ng-valid"
                                ng-required="true"
                                maxlength="25"
                                ng-model="pwd1">
                        <!-- tip1 -->
                        <div class="hint col-md-12" ng-messages="pwdForm.pwd1.$error">
                            <div class=" row" ng-message="required" ng-show="(pwdForm.pwd1.$touched) || {{show_msg}}">旧密码不能为空</div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">新密码</label>
                    <div class="col-md-8">
                        <!-- <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick"> -->
                        <input  type="password" 
                                name="pwd2"
                                class="form-control ng-pristine ng-untouched ng-valid"
                                ng-required="true"
                                maxlength="25"
                                ng-model="pwd2">
                        <!-- tip2 -->
                        <div class="hint" ng-messages="pwdForm.pwd2.$error">                
                            <div ng-message="required" ng-show="(pwdForm.pwd2.$touched || {{show_msg}})">请输入6~16位字母与数字组合</div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">确认新密码</label>
                    <div class="col-md-8">
                        <!-- <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick"> -->
                        <input  type="password" 
                                name="pwd3"
                                class="form-control ng-pristine ng-untouched ng-valid"
                                ng-required="true"
                                maxlength="25"
                                ng-model="pwd3"
                                compare="pwd2"
                                >
                        <!-- tip2 -->
                        <div class="hint" >                
                            <div ng-show="(pwdForm.pwd3.$touched && pwdForm.pwd3.$error.compare) ">两次输入不一致</div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <div class="col-md-8 col-md-offset-4">
                        <div class="col-md-8 col-md-offset-2">
                            <input type="button" value="取消" class="btn btn-danger btn-md form-group" ng-click="search('','','','')">
                            <input ng-disabled="(pwdForm.$invalid) || tipshow" type="button" value="保存" class="btn btn-info btn-md form-group pull-right" ng-click="sendData()">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9a-zA-z]{6,16}$/" -->