<h1>role</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">
                <div class="col-md-5 ">
                    <label class="control-label col-md-4 pd-left-0">角色</label>
                    <div class="col-md-8">
                        <select 
                            class="form-control ng-pristine ng-untouched ng-valid" 
                            ng-options=" item for item in roleNames " 
                            ng-model="params.roleName">
                        </select>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 ">
                    <div class="col-md-1 pull-right">
                        <input type="button" value="搜索" class="btn btn-primary btn-md form-group" ng-click="search(params.roleName)">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


<!-- role -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>角色列表</strong>
        <div class="btn-group pull-right">
            <button class= "btn btn-success btn-xs" ng-click="compile(3,-1)">
                +新增角色
            </button>
        </div>
    </div>
    <div class="panel-body">
        <table class="table text-center">
            <thead>
                <tr class="table-header">
                    <th class="text-center">ID</th>
                    <th class="text-center">角色</th>
                    <th class="text-center">编辑时间</th>
                    <th class="text-center">编辑人</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in roleLists">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.createAt}}</td>
                    <td>{{item.createBy}}</td>
                    <td>
                        <button class="btn btn-succsee" ng-click="compile(2,item.id)">编辑</button>
                        <button class="btn btn-danger" ng-click="delete(item.id)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 分页自定义指令 -->
<pagination  ng-if="total" total="{{total}}"></pagination>