<h1>角色{{header}}</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>{{header}}角色</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">角色名</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="roleInfo.name">
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">权限</label>
                    <div class="col-md-8 pd-top-4">
                        <label>
                            <input type="checkbox" ng-true-value="0" ng-model="roleInfo.moduleIds[0]"> 全选/全不选
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <div class="col-md-offset-4 col-md-8 pd-top-4">
                        <label>
                            <input type="checkbox" ng-true-value="1" ng-model="roleInfo.moduleIds[1]"> 业务管理
                        </label>
                    </div>
                </div>
                <div class="col-md-12 pd-l-45">
                    <div class="col-md-offset-3 col-md-8 pd-top-4 mg-l-20">
                        <label class="col-md-3">
                            <input type="checkbox" ng-true-value="2" ng-model="roleInfo.moduleIds[2]"> 文章管理
                        </label>
                        <label class="col-md-3">
                            <input type="checkbox" ng-true-value="3" ng-model="roleInfo.moduleIds[3]"> 视频管理
                        </label>
                        <label class="col-md-3">
                            <input type="checkbox" ng-true-value="4" ng-model="roleInfo.moduleIds[4]"> 视频管理
                        </label>
                        <label class="col-md-3">
                            <input type="checkbox" ng-true-value="5" ng-model="roleInfo.moduleIds[5]"> 论坛管理
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                    <div class="col-md-10 ">
                        <div class="col-md-offset-4 col-md-8 pd-top-4">
                            <label>
                                <input type="checkbox" ng-true-value="6" ng-model="roleInfo.moduleIds[6]"> 内容管理
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 pd-l-45">
                        <div class="col-md-offset-3 col-md-8 pd-top-4 mg-l-20">
                            <label class="col-md-3">
                                <input type="checkbox" ng-true-value="7" ng-model="roleInfo.moduleIds[7]"> 用户管理
                            </label>
                            <label class="col-md-3">
                                <input type="checkbox" ng-true-value="8" ng-model="roleInfo.moduleIds[8]"> 公告管理
                            </label>
                            <label class="col-md-6">
                                <input type="checkbox" ng-true-value="9" ng-model="roleInfo.moduleIds[9]"> banner图管理
                            </label>
                        </div>
                    </div>
                </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <div class="col-md-8 col-md-offset-4">
                        <div class="col-md-8 col-md-offset-2">
                            <input type="button" value="取消" class="btn btn-danger btn-md form-group" ng-click="search('','','','')">
                            <input type="button" value="保存" class="btn btn-info btn-md form-group pull-right" ng-click="sendData()">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>