<h1>查看帖子</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">

                <div class="col-md-6">
                    <div class="row padd-top-15">
                        <label class="control-label col-md-4 pd-left-0">楼主</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                        </div>
                    </div>
                    <div class="row padd-top-15">
                        <label class="control-label col-md-4 pd-left-0">发帖时间</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.uid" numberic-input="">
                        </div>
                    </div>
                    <div class="row padd-top-15">
                        <label class="control-label col-md-4 pd-left-0">年级部</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.uid" numberic-input="">

                        </div>
                    </div>
                    <div class="row padd-top-15">
                        <label class="control-label col-md-4 pd-left-0">评论量</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.uid" numberic-input="">

                        </div>
                    </div>
                    <div class="row padd-top-15">
                        <label class="control-label col-md-4 pd-left-0">阅读量</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.uid" numberic-input="">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row padd-top-15">
                        <label class="control-label col-md-4 pd-left-0">头像</label>
                        <div class="col-md-8">
                            <input type="text" value="头像" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label col-md-2 pd-left-0">内容</label>
                        <div class="col-md-8">
                            <input type="text" value="头像" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 col-md-offset-2">
                    <div class="col-md-2">
                        <input type="button" value="返回" class="btn btn-info btn-md form-group" ng-click="search('','','','')">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>