<h1>treeHole</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">
                <div class="col-md-5 ">
                    <label class="control-label col-md-4 pd-left-0">点赞数</label>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-5">
                                
                                <input type="text"  class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                            </div>
                            <label class="float-l  col-md-2">一</label>
                            <div class="col-md-5">
                            
                                <input type="text"  class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <label class="control-label col-md-4 pd-left-0">踩数</label>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-5">
                           
                                <input type="text"  class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                            </div>
                            <label class="float-l  col-md-2">一</label>
                            <div class="col-md-5">
                   
                                <input type="text"  class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-5 ">
                    <label class="control-label col-md-4 pd-left-0">发布人</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <label class="control-label col-md-4 pd-left-0">发布时间</label>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-5">
                                <i class="fa fa-calendar pos-abs-10-20"></i>
                                <input type="text" placeholder="年/月/日" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                            </div>
                            <label class="float-l  col-md-2">一</label>
                            <div class="col-md-5">
                                <i class="fa fa-calendar pos-abs-10-20"></i>
                                <input type="text" placeholder="年/月/日" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                    <div class="col-md-5 col-md-offset-6">
                        <div class="col-md-2 pull-right">
                            <input type="button" value="搜索" class="btn btn-primary btn-md form-group" ng-click="search(startAt,endAt,params.type,params.status,page)">
                        </div>
                        <div class="col-md-2 pull-right">
                            <input type="button" value="清空" class="btn btn-danger btn-md form-group" ng-click="search('','','','')">
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>



<!-- Article -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11 col-sm-10">
                <span>树洞列表</span>
                <span>树洞总数：</span>
                <span>{{forum.total}}</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table text-center">
            <thead>
                <tr class="table-header">
                    <th>序号</th>
                    <th>发布人</th>
                    <th>发布时间</th>
                    <th>内容</th>
                    <th>点赞数</th>
                    <th>踩数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in articleLists">
                    <td>{{$index * i + 1}}</td>
                    <td>{{x.auther}}</td>
                    <td>{{x.creatAt}}</td>
                    <td>{{x.content}}</td>
                    <td>{{x.nums1}}</td>
                    <td>{{x.nums2}}</td>
                    <td>
                        <button class="btn btn-info" ng-click="check()" >
                            查看
                        </button>
                        <button class="btn btn-danger" ng-click="check()">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 分页自定义指令 -->