<header>
    <ul class="nav_bar">
        <li class="nav_title">求学大作战后台管理系统</li>
        <li class="account" id="account">
            <span>管理员</span>
            <i class="fa fa-user-circle"></i>
            <span ng-bind="accountName"></span>
            <span>|</span>
            <span ng-click="logout()">退出</span>
        </li>
    </ul>
</header>
<main>
    <ul class="sidebar" id="accordion">
        <li>
            <div class="nav-fchild">
                <span class="fa fa-university"></span>&emsp;
                <span>后台首页</span>
            </div>
        </li>
        <li ng-repeat="x in menu track by $index" class="panel panel_nav_no">
            <div class="menu_title"  ng-click="list_show(x.id)" data-parent="#accordion" data-toggle="collapse" data-target="#{{'nav'+$index}}">
                <span class="fa fa-wrench transitonz-180"></span>&emsp;
                <span ng-bind="x.name"></span>
                <span class="glyphicon glyphicon-menu-left" ng-class="{'glyphicon-menu-up':x.id == menuId}">
                </span>
            </div>
            <ul id="{{'nav'+$index}}" class="collapse panel-collapse " data-parent="#accordion">
                <li class="submenu" ng-repeat="subItem in x.sub">
                    <a class="nav-a" id="{{subItem.id}}" ui-sref="{{subItem.url}}" ng-class="{a_active:subItem.id == itemId}" ng-bind="subItem.name"
                        ng-click="active(subItem.id)">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <section class="ui-container" ui-view>        
    </section>
</main>