<h1>编辑公告</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>新增,编辑,查看,文章</strong>
    </div>


    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-invalid-date ng-invalid-min ng-invalid-max" role="form"
            id="blur">
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">标题</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="vm.params.nick">
                    </div>
                </div>
            </div>
           
            <div class="form-group ">
                <div class="col-md-10 ">
                    <label class="control-label col-md-4 pd-left-0">正文</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="富文本" ng-model="vm.params.nick">
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 ">
                    <div class="col-md-8 col-md-offset-4">
                        <div class="col-md-8 col-md-offset-2">
                            <input type="button" value="自定义指令" class="btn btn-info btn-md form-group" ng-click="search('','','','')">
                            <input type="button" value="自定义指令" class="btn btn-info btn-md form-group pull-right" ng-click="search('','','','')">
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>


</div>